form {
    border-radius: 4px;
    background-color: white;
    border: 5px solid #DFE6F6;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 40px;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .titulos {
    font-size: 35px;
    font-weight: bold;
    margin-top: 60px;
    font-family: 'Lobster Two', cursive;
  }
  
  .botao-submit {
    background-color: #14244A;
    color: white;
  }