<app-header></app-header>
<app-lista-compras></app-lista-compras>
<app-card></app-card>
<app-form></app-form>
<footer class="container">
    <div class="group-icons">
        <div>
            <a routerLink=""><img class="icone" src="../../../assets/cake.svg" alt="icone de torta" /></a>
        </div>
        <div>
            <a routerLink=""><img class="icone" src="../../../assets/milk-box.svg" alt="icone de caixinha de leite" /></a>
        </div>
        <div>
            <a routerLink=""><img class="icone" src="../../../assets/harvest.svg" alt="icone de frutas" /></a>
        </div>
        <div>
            <a routerLink=""><img class="icone" src="../../../assets/shampoo.svg" alt="icone de shampoo" /></a>
        </div>
    </div>
</footer>