footer {
    background-color: white;
    padding: 3px 0;
  }
  .group-icons {
    display: flex;
    justify-content: center;
  }
  .icone {
    width: 35px;
    margin: 10px;
    cursor: pointer;
  }